
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:#F28585 ;
    display: grid;
    place-items: center;
}
.container{
    background-color: white;
    width: 430px;
    padding: 25px;
    height:652px;
    border-radius: 6px;
}
h1{
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
  
}
.formgroup{
    margin-top: 6px;
    padding: 5px;
   }

form{
    padding: 30px 40px;

}
label{

color:#000000 ;
}
.formgroup input{
    border: 1px solid ;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 3px;
}
button{
width: 360px;
margin-right: 6px;
margin-top: 12px;
padding: 5px;
background-color: blue;
color: white;

}

